.characters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.character {
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  margin: 1em;
  width: 200px;
  height: 110px;
  flex-basis: 20%;
  -ms-flex: auto;
  position: relative;
  box-sizing: border-box;
}

.character header {
  background: rgb(107, 151, 179);
  line-height: 1.25em;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  color: #111;
}

.charName {
  flex: 0 0 auto;
  /* align-content: center; */
  /* above not working for some reason */
}

.character span {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.character button {
  display: block;
  margin: .5em auto;
  width: 50%;
  background: rgb(107, 151, 179);
}

.getMore {
display: block;
margin: auto;
width: 50%;
background: rgb(107, 151, 179);
}
